.card {
  display: inline-grid;
  grid-template-columns: 440px;
  grid-template-rows: 40px auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 12px;

  &__header {
    display: grid;
    align-items: center;
    background-color: #f0f0f0;

    &__title {
      margin-left: 20px;
      font-weight: 500;
      font-size: 20px;
    }
  }

  &__body {
    display: inherit;
    grid-template-rows: 80px auto;
    place-content: center;
    padding-bottom: 20px;
  }
}
