:host {
  display: grid;
  justify-content: start;
  align-items: center;
}

.weather {


  &__body {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: center;
    place-items: center;
    column-gap: 4px;

    select {
      height: 36px;
      width: 140px;
      outline: 0;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 4px;
    }
  }
}
