<div class="card">
  <div class="card__city">
    <div>{{weather?.name}}</div>
  </div>
  <ng-container *ngIf="weather as wtr">
    <div class="card__body">
      <div class="card__body__data">
        <div class="card__body__data__icon">
          <img [src]="iconSrc" alt="">
        </div>
        <div class="card__body__data__text">
          <div class="card__body__data__text__temp">{{wtr.main?.temp}}</div>
          <div class="card__body__data__text__desc">{{weatherDescription}}</div>
        </div>
      </div>
    </div>
    <div class="card__footer">
      <div class="card__footer__humidity">Humidity: {{wtr.main?.humidity}}</div>
      <div class="card__footer__airPressure">Air Pressure: {{wtr.main?.pressure}}</div>
    </div>
  </ng-container>
</div>
